<h1>Classroom with the Most Students:</h1>
 

 <% @classrooms.number_of_students.each do |classroom| %>
 	<h2><%= classroom.subject %></h2>
 	<h4>Student Roster:</h4>
 	<% classroom.students.each do |student| %>
 		<%= student.full_name %>
 		<br>
 	<% end %>
 <% end %>