
<h1><u>Student Body</u></h1>
<%= link_to 'Create a new student', new_student_path %>
<br>
<br>


<% @students.order(:last_name).each do |student| %>
	<%= link_to student.last_name_first_name, student_path(student), :class => "student_name" %>
	<br>
	<div class="student-info"></div>
<% end %>


<br><br>

