
<h3><%= @student.full_name %></h3>

<div class="student-info">
	Grade: <%= @student.grade %>
	<br>
	<% @student.classrooms.each do |classroom| %>
		<%= classroom.subject %>
		<br>
	<% end %>
</div>

<br>
<%= link_to 'Edit Student', edit_student_path %>